# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt
Click==7.0
Flask==1.1.2
Flask-SQAlchemy
guincorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
SQLAlchemy
Werkzeug==0.16.0

