html{
  background-color: black;
  background-image: url(background-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
body{
    width: 70%;
    border-radius: 10px;
    min-height: 60%;
  background: rgba(6, 6, 6, 0.55);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;
  color: white;
}
.menubar{
    display: flex;
    justify-content: space-evenly;
}
.logo{
  padding: 10px;
}
.menubar div{
  padding: 10px;
}
.drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  .qompose{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height:40px;
    /* background-color:lightblue; */
    padding: 5px;
    color: whitesmoke;
    font-weight: 900;
    font-size: 15px;
  }
  .dropzone {
    box-shadow: 0px 2px 20px 0px #f2f2f2;
    border: 1px dashed #c0ccda;
    padding: 60x;
    border-radius: 10px;
    background-color: #fbfdff;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
.index-text{
  max-width: 40%;
}
.index-text h1{
  font-size: 25px;
  font-weight: 600;
}
.index-text h2{
  font-weight: 400;
  font-size: 20px;
  padding-top: 50px;
}
.main-div {
  margin: 50px;
}